BizLink/Transformer/Schemas/Source/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Define the Product element -->
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductID" type="xs:int"/>
        <xs:element name="ProductName" type="xs:string"/>
        <xs:element name="Price" type="xs:decimal"/>
        <xs:element name="InStock" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>